body {
	background-color: #000000;
	color: #FFFFFF;
}

.logo {
	position: fixed;
	z-index: 1000;
}

.logo img {
	height: 40px;
}

.featured_video {
	height: 70vh;
	background-size: cover;
	background-position: center;
	margin-bottom: 30px;
}

.featured_video .gradient {
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(18,18,18,0.3) 20%, rgba(18,18,18,1) 80%);
}

.card {
	transition: all 0.3s ease-in-out;
}

.card:hover {
	transform: scale(1.05);
}